
.navbar-nav{
    position: relative;
    left: 20%;
    color: black;
}
.my-container{
    position: relative;
    top: 20px;
    left: 10%;
    width: 700px;
}
.content-home{
    position: relative;
    top: 50px; 
}
.content-list-clients h1
{
    margin-bottom: 25px;
}
 